/**
 * @author:	Peter Slagter (http://twitter.com/pesla - http://github.com/pesla/)
 * Use of this source code is governed by the MIT license (do whatever you want!)
 */

/**
 * Generic grid settings
 */

.column {
	position: absolute;
	top: 50px;
	left: 0;
	right: 50%;
	bottom: 20px;
	margin: 0 10px 0 20px;
	padding: 10px;
	border: 1px solid #bbb;
	background: #fff;
	box-shadow: inset 0px 0px 3px #444; /* Opera 10.5, IE9, Chrome 10+ */
	overflow: hidden;
}

.column:hover {
	background-color: #E0F3FF;
}

.inner-col {
	position: absolute;
	top: 10px;
	left: 10px;
	right: 10px;
	bottom: 10px;
}

textarea {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	margin: 0;
	border: 0;
	font-family: Monaco;
	font-size: 12px;
	background: transparent;
}

.rounded {
	border-radius: 6px; /* Opera 10.5, IE9, Saf5, Chrome, FF4 */
}

.shadow, #gc-run:hover, #gc-clear:hover {
	box-shadow: 1px 1px 2px #000; /* Opera 10.5, IE9, Chrome 10+ */
}

/**
 * Text settings
 */

html {
	font: 14px cambria,palatino,georgia,serif;
	background-color: #f6f6f6;
}

h1 {
	position: absolute;
	top: 5px;
	left: 20px;
	margin: 0;
	font-size: 1.9em;
	font-family: corbel, optima, arial, sans-serif;
}

h3 {
	position: absolute;
	right: 0;
	top: 0;
	margin: 0;
	padding: 2px 20px;
	z-index: 10;
	box-shadow: -1px 1px 2px #000;
	background-color: #eee;
	opacity: .7;
}

/**
 * Buttons
 */

#gc-run,
#gc-clear,
#gc-small {
	position: absolute;
	top: 8px;
	left: 220px;
	padding: 2px 15px;
	border: 2px solid #227f28;
	font-size: 16px;
	text-align: center;
	background-color: #6ed075;
	cursor: pointer;
}

#gc-clear {
	left: 330px;
}

#gc-small {
	left: 455px;
}

/**
 * Right column
 */

.column-right {
	left: 50%;
	right: 0;
	margin: 0 20px 0 10px;
}